<div class='container'>
  <div class='row'>
    <div class = "col-sm-8 col-md-8 col-lg-5 px-5 px-sx-0 mx-auto">
     <h1>Editing Book</h1>
       <%= render 'layouts/error', obj: @book %>
       <%= render 'new', book: @book %>
       <%= link_to 'Show', book_path(@book) %>
       <%= link_to 'Back', books_path %>
    </div>
  </div>
</div>